body {
  padding: 0;
  margin: 0;
  background-image: url('./../img/Background.jpg');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 900px) {
  body {
    background-image: url('./../img/Background-mobile.jpg');
    background-size: 900px;
  }
} 

.logo {
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  background: transparent;
  color: white;
}

main {
  position: absolute;
  bottom: 40px; right: 50%;
  transform: translate(50%,0);
  background: transparent;
  color: white;

  text-align: center;

  width: 400px;
}

form {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
}

input[type=email] {
  background-color: rgb(10, 10, 10);
  color: #fff;
  font-size: 16px;

  text-align: center;
  padding: 15px 20px;
  margin: 0;
  margin-right: -5px;
  border: none;

  border-radius: 100px;

  width: 100%;

  transition: all 100ms;

  outline: black none;
}

input[type=email]:hover, input[type=email]:active {
  background-color: rgb(15, 15, 15);
}

input[type=email]:focus {
  outline: 2px rgb(53, 53, 53) solid;
}

input[type=submit] {
  background-color: rgb(25, 25, 25);
  color: #fff;
  font-size: 16px;
  line-height: 0;

  position: absolute;
  right: -5px;
  top: 0;
  bottom: 0;

  border-radius: 100px;

  text-align: center;
  padding: 20px;
  border: none;

  transition: all 100ms;
}

input[type=submit]:hover, input[type=submit]:active {
  background-color: rgb(35, 35, 35);
}
